/*@media (orientation: portrait){
    #plantsExamplesCarrousel { width: 90vw; }
    .carousel-inner { height: 50vh; }
}

@media (min-height: 750px) and (max-width: 350px){
    //hero
    .hero-text h1 { font-size: 10vw; }
    .hero-text p { font-size: 3vw; }

    .hero-icons {
        column-gap: 5vw;
        bottom: 5%;
    }
    .hero-icons i { font-size: 4vw; }

    //carousel
    .carousel-inner { height: 25vh; }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 1rem !important;
        height: 1rem !important;
    }
}

@media (max-width: 600px) {
    .carousel-control-prev, .carousel-control-next {
        height: 100%;
        width: 5vw !important;
        border-radius: unset;
        margin: 0;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 1rem !important;
        height: 1rem !important;
    }
}


@media (min-width: 1500px) {
    .carousel-control-prev, .carousel-control-next {
        height: 4vw;
        width: 4vw !important;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 5rem !important;
        height: 5rem !important;
    }
}*/
