@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@media (orientation: landscape) {
	.nav {
		& a:hover::after,
		& a:focus::after {
			transform: scale(1);
		}
	}

	.active-page {
		&:hover,
		&:focus {
			border: 3px solid $hero-primary-color;
		}
	}

	.hero-icons {
		width: unset !important;
		left: 30px;
		column-gap: 30px !important;

		& i {
			font-size: 2em !important;
		}

		& a:hover,
		& a:focus {
			color: $hero-primary-color;
		}
	}

	.carousel {
		&-control-prev {
			left: -$carousel-control-width;
		}

		&-control-next {
			right: -$carousel-control-width;
		}

		&-inner {
			max-width: 768px !important;
		}
	}

	#plantsExamplesCarrousel {
		width: calc(100% - 2 * $carousel-control-width) !important;
	}
}

@media (min-width: 768px) {
	.categories {
		max-width: 1024px;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(5, auto);
	}

	.card {
		&:nth-child(1) {
			@include card-properties(1, 3, 1, 1, 300px);
		}
		&:nth-child(2) {
			@include card-properties(3, 5, 1, 3, 400px);
		}
		&:nth-child(3) {
			@include card-properties(5, 7, 1, 4, 600px);
		}
		&:nth-child(4) {
			@include card-properties(1, 4, 4, 6, 400px);
		}
		&:nth-child(5) {
			@include card-properties(4, 7, 4, 6, 400px);
		}

		&-img {
			width: fill-available !important;
		}

		&:hover &-img {
			transform-origin: center;
			transform: translate(-50%, -50%) scale(1.2);
		}

		&-img-overlay:hover {
			color: #000;
			background-color: #ffffff66;
		}
	}
}
