$hero-primary-color: #8be6b4;
$hero-secondary-color: #6cdda8;

$extra: #948c38;

$headings: h1, h2, h3, h4, h5, h6;

$carousel-control-width: 48px;
$carousel-control-height: 550px;
$carousel-max-inner-height: 550px;
$carousel-max-inner-width: 768px;
