@use "../abstracts/variables" as *;

#plantsExamplesCarrousel {
	margin: 150px 0 75px;
	max-width: fit-content;
}

.carousel {
	display: flex;
	justify-content: center;
	width: fill-available;

	&-inner {
		height: 100%;
		width: 100%;
		max-height: $carousel-max-inner-height;
	}

	&-indicators {
		backdrop-filter: brightness(50%);
		margin: 0 !important;
		width: fit-content;
		left: 50% !important;
		transform: translate(-50%, 150%);
	}

	&-item img {
		width: unset !important;

		transform: translate(-50%);
	}

	&-control-prev,
	&-control-next {
		backdrop-filter: brightness(0%);
		width: $carousel-control-width;
	}
}

#plantsExamplesCarrousel,
.carousel-item img,
.carousel-control-prev,
.carousel-control-next {
	height: $carousel-control-height;
	max-height: $carousel-max-inner-height;
}
