.categories {
	margin: 150px auto 0;
	display: grid;
	grid-gap: 20px;

	grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
}

.card {
	overflow: hidden;
}

.card-img {
	height: -webkit-fill-available;
	width: max-content;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.3s ease-in-out;
}

.card-img-overlay {
	background-color: #00000066;
	color: #fff;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card-img-overlay p {
	font-weight: 600;
}
