@use "../abstracts/variables" as *;

form {
	background-color: $extra;
	width: fit-content;
	max-width: 95%;
	padding: 20px;
	border-radius: 10px;
	margin-top: 85px;
}

.g-recaptcha {
	div,
	iframe {
		max-width: 100%;
	}
}

#comment,
#email {
	width: 100%;
	border-width: 3px;
}

#comment {
	resize: none;
}
