.hero {
	height: 100vh;
	width: 100%;

	&-text {
		color: $hero-primary-color;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&-image {
		height: 100%;
		background-image: url("../src/plants-hero.jpg");
		background-size: cover;
		background-position: center;
		filter: brightness(60%);
	}

	&-icons {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		column-gap: 2vw;
		justify-content: space-around;
		position: absolute;
		bottom: 15%;

		a {
			color: $hero-secondary-color;
			border: 3px solid transparent;
			padding: 0.5em 1em;

			&:focus {
				outline: none;
				border-color: $hero-primary-color;
			}
		}

		i {
			font-size: 2em;
		}
	}
}
