.about {
	&-info {
		display: flex;
		align-items: center;
		width: 95%;
		max-width: 900px;
		flex-wrap: wrap-reverse;
		justify-content: center;

		img {
			max-width: 450px;
		}

		&:nth-child(1) {
			margin-top: 75px;
		}

		&:nth-child(2n) {
			flex-direction: row-reverse;
		}
	}

	&-info-text {
		min-width: 300px;
	}
}
